@page
@model Restaurant.Web.Pages.Admin.MenuItems.UpsertModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Upsert</title>
</head>
<body>
</body>
</html>
