@page
@model Restaurant.Web.Pages.Admin.MenuItems.UpsertModel

    <form method="post" asp-action="Upsert">
        <div class="container">
            <div class="row px-2 mx-2 backgroundWhite border">
                @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (Model.MenuItemObj.Id != Guid.Empty && Model.MenuItemObj.Id != default)
                {
                    <input type="hidden" asp-for="MenuItemObj.Id" />
                }
                <div class="col-12 px-3" style="border-bottom: 1px solid #325d88">
                    <h2 class="text-primary">
                        @(Model.MenuItemObj.Id != Guid.Empty && Model.MenuItemObj.Id != default ? "Update" : "Create") Category
                    </h2>
                </div>*@
                <div class="col-8 pt-3">
                    @*<div class="form-group row">
                        <div class="col-3">
                            <label asp-for="MenuItemObj.Name"></label>
                        </div>
                        <div class="col-9">
                            <input class="form-control" asp-for="MenuItemObj.Name" />
                            <span class="text-danger" asp-validation-for="MenuItemObj.Name"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="MenuItemObj.DisplayOrder"></label>
                        </div>
                        <div class="col-9">
                            <input class="form-control" asp-for="MenuItemObj.DisplayOrder" />
                            <span class="text-danger" asp-validation-for="MenuItemObj.DisplayOrder"></span>
                        </div>
                    </div>*@

                    <div class="form-group row">
                        <div class="col-9 offset-3">
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary form-control">
                                       @* @(Model.MenuItemObj.Id != Guid.Empty && Model.MenuItemObj.Id != default ? "Update" : "Create")*@
                                    </button>
                                    @*@if (Model.MenuItemObj.Id != 0)
                                    {
                                        <button type="submit" class="btn btn-primary form-control">Update</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary form-control">Create</button>
                                    }*@
                                </div>
                                <div class="col-6">
                                    <a asp-page="./Index" class="btn btn-success form-control">Back To List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>